.idea/
.DS_Store
datasets
dataconfig
.ipynb_checkpoints
testing_data
testing_data.csv
model-training.py
model_results.txt
training_data.csv
predictions.csv
triple_predictions.csv
triple_model_results.txt
*.pyc
