# python<3.12
Ipython>=8.17.2
numpy>=1.26.2
librosa
pydub>=0.25.1
simpleaudio>=1.0.4
matplotlib>=3.8.1
scikit-learn>=1.3.2
pandas>=2.1.3
requests>=2.31.0
soundfile>=0.12.1
joblib>=1.3.2
seaborn>=0.13.0
tqdm
nlpaug
torch==2.1.1